
	<div id="site_content">		
	
	  <div id="content">
      <div class="content_item">
      	<h1><a href="capture">Capture An Image</a></h1>
				<p>
					Control DSLR to capture a image
				</p>
			</div><!--close content_item-->
  	</div><!--close content-->   
	</div><!--close site_content-->  	
  

  
