    
	<div id="site_content">	
    <div class="slideshow">
			<ul class="slideshow">
      	<li class="show"><img width="900" height="600" src="/IMAGE/DSC_0202.JPG" alt="&quot;IMAGE_1&quot;" /></li>
      	<li><img width="900" height="600" src="/IMAGE/DSC_0215.JPG" alt="&quot;IMAGE_2&quot;" /></li>
{{ range . }}
		<li><img width="900" height="600" src="IMAGE/{{ .Name }}" alt="&quot;{{ .Name }}&quot;" /></li>
{{ end }}
    	</ul> 
		</div>	
	
	  <div id="content">
        <div class="content_item">
		  <h1>Watch Your Photos</h1> 
          <p>Browse your photos saved in DSLR</p>   		
		  
		  <div class="content_imagetext">
		    <div class="content_image">
		      <img src="images/image1.jpg" alt="image1"/>
	      </div>
		    <p>Exif information. Date
				</p>
		  </div><!--close content_imagetext-->
		  
		</div><!--close content_item-->
      </div><!--close content-->   
	</div><!--close site_content-->  	
  
